

h1{
font-family: 'Indie Flower', cursive;
font-family: 'Comforter', sans-serif;
text-align:center;
font-weight:bold;
color:pink;
}

p{
font-family: 'Bebas Neue', sans-serif;
background:#f5f2fe;
    font-weight:normal;
    text-align:center;
     padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}



.index.links{
    text-align:center;
    color:pink;
  border: 1px solid;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}